html {
  font-size: 0.85vw;
  background: #0e1627; }

.turn_info {
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center; }

.finish_turn {
  border: none;
  border-radius: 8px;
  padding: 8px 19px;
  font-weight: bold;
  color: white; }

.finish_turn.player_one {
  background: #ff70a6; }

.finish_turn.player_two {
  background: #70d6ff; }

.hexagon {
  float: left;
  margin-left: 0.1875em;
  margin-bottom: -0.8125em;
  position: relative; }
  .hexagon .children {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1em;
    text-align: center;
    padding: 3px;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    font-family: Lato, sans-serif; }
    .hexagon .children:empty {
      background: transparent; }
  .hexagon.team-1 .top {
    border-bottom-color: #ff70a6; }
  .hexagon.team-1 .middle {
    background: #ff70a6; }
  .hexagon.team-1 .bottom {
    border-top-color: #ff70a6; }
  .hexagon.team-1.hovered-section .top {
    border-bottom-color: #ffc170; }
  .hexagon.team-1.hovered-section .middle {
    background: #ffc170; }
  .hexagon.team-1.hovered-section .bottom {
    border-top-color: #ffc170; }
  .hexagon.team-1.clicked-section .top {
    border-bottom-color: #ffd60a; }
  .hexagon.team-1.clicked-section .middle {
    background: #ffd60a; }
  .hexagon.team-1.clicked-section .bottom {
    border-top-color: #ffd60a; }
  .hexagon.team-2 .top {
    border-bottom-color: #70d6ff; }
  .hexagon.team-2 .middle {
    background: #70d6ff; }
  .hexagon.team-2 .bottom {
    border-top-color: #70d6ff; }
  .hexagon.team-2.hovered-section .top {
    border-bottom-color: #ffc170; }
  .hexagon.team-2.hovered-section .middle {
    background: #ffc170; }
  .hexagon.team-2.hovered-section .bottom {
    border-top-color: #ffc170; }
  .hexagon.team-2.clicked-section .top {
    border-bottom-color: #ffd60a; }
  .hexagon.team-2.clicked-section .middle {
    background: #ffd60a; }
  .hexagon.team-2.clicked-section .bottom {
    border-top-color: #ffd60a; }

.hexagon .top {
  width: 0;
  border-bottom: 1em solid #ececec;
  border-left: 1.625em solid transparent;
  border-right: 1.625em solid transparent; }

.hexagon .middle {
  width: 3.25em;
  height: 1.87525em;
  background: #ececec; }

.hexagon .bottom {
  width: 0;
  border-top: 0.93762em solid #ececec;
  border-left: 1.625em solid transparent;
  border-right: 1.625em solid transparent; }

.hexagon-row.even {
  margin-left: 1.625em; }

.info_container {
  margin-top: 30px;
  padding: 30px;
  font-size: 14px;
  display: flex;
  gap: 12px;
  align-items: center;
  background: #f2e9e4;
  justify-content: space-around; }

.info_container__turn {
  display: flex;
  gap: 10px;
  font-weight: bold; }

.info_container__author a {
  font-weight: bold;
  color: black; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }
