html {
  font-size: 0.85vw; }

.hexagon {
  float: left;
  margin-left: 0.1875em;
  margin-bottom: -0.8125em;
  position: relative; }
  .hexagon .children {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 1.20em;
    text-align: center;
    padding: 5px;
    background: white;
    border-radius: 4px;
    font-weight: bold;
    font-family: Lato, sans-serif; }
    .hexagon .children:empty {
      background: transparent; }
  .hexagon.team-1 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1 .middle {
    background: #ff26a5; }
  .hexagon.team-1 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.hovered-section .top {
    border-bottom-color: #fff44d; }
  .hexagon.team-1.hovered-section .middle {
    background: #fff44d; }
  .hexagon.team-1.hovered-section .bottom {
    border-top-color: #fff44d; }
  .hexagon.team-1.clicked-section .top {
    border-bottom-color: #59ff50; }
  .hexagon.team-1.clicked-section .middle {
    background: #59ff50; }
  .hexagon.team-1.clicked-section .bottom {
    border-top-color: #59ff50; }
  .hexagon.team-2 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2 .middle {
    background: #496dff; }
  .hexagon.team-2 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.hovered-section .top {
    border-bottom-color: #fff44d; }
  .hexagon.team-2.hovered-section .middle {
    background: #fff44d; }
  .hexagon.team-2.hovered-section .bottom {
    border-top-color: #fff44d; }
  .hexagon.team-2.clicked-section .top {
    border-bottom-color: #59ff50; }
  .hexagon.team-2.clicked-section .middle {
    background: #59ff50; }
  .hexagon.team-2.clicked-section .bottom {
    border-top-color: #59ff50; }

.hexagon .top {
  width: 0;
  border-bottom: 1em solid #ececec;
  border-left: 1.625em solid transparent;
  border-right: 1.625em solid transparent; }

.hexagon .middle {
  width: 3.25em;
  height: 1.87525em;
  background: #ececec; }

.hexagon .bottom {
  width: 0;
  border-top: 0.93762em solid #ececec;
  border-left: 1.625em solid transparent;
  border-right: 1.625em solid transparent; }

.hexagon-row.even {
  margin-left: 1.625em; }

.hexagon-row {
  clear: left; }
  .hexagon-row.team-1 .hexagon {
    background-color: #496dff; }
    .hexagon-row.team-1 .hexagon:before {
      border-bottom-color: #496dff; }
    .hexagon-row.team-1 .hexagon:after {
      border-top-color: #496dff; }
  .hexagon-row.team-2 .hexagon {
    background-color: blue; }
    .hexagon-row.team-2 .hexagon:before {
      border-bottom-color: blue; }
    .hexagon-row.team-2 .hexagon:after {
      border-top-color: blue; }

.cont {
  padding: 40px;
  font-weight: bold;
  font-size: 14px; }
  .cont #pass-turn {
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    background: #ccc;
    margin: 0 20px; }

.clearfix {
  *zoom: 1; }
  .clearfix:before, .clearfix:after {
    display: table;
    content: "";
    line-height: 0; }
  .clearfix:after {
    clear: both; }
