.hexagon {
  float: left;
  margin-left: 3px;
  margin-bottom: -13px;
  position: relative; }
  .hexagon .children {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    text-align: center;
    padding: 5px;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    font-family: Lato; }
    .hexagon .children:empty {
      background: transparent; }
  .hexagon.team-1.group-1 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-1 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-1 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-2 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-2 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-2 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-3 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-3 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-3 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-4 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-4 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-4 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-5 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-5 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-5 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-6 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-6 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-6 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-7 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-7 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-7 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-8 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-8 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-8 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-9 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-9 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-9 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-10 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-10 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-10 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-11 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-11 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-11 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-12 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-12 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-12 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-13 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-13 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-13 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-14 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-14 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-14 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-15 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-15 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-15 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-16 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-16 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-16 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-17 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-17 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-17 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-18 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-18 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-18 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-19 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-19 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-19 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-20 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-20 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-20 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-21 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-21 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-21 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-22 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-22 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-22 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-23 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-23 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-23 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-24 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-24 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-24 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-25 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-25 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-25 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-26 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-26 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-26 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-27 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-27 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-27 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-28 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-28 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-28 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-29 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-29 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-29 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-30 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-30 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-30 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-31 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-31 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-31 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-32 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-32 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-32 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-33 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-33 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-33 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-34 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-34 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-34 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-35 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-35 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-35 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-36 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-36 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-36 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-37 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-37 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-37 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-38 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-38 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-38 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-39 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-39 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-39 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-40 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-40 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-40 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-41 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-41 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-41 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-42 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-42 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-42 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-43 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-43 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-43 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-44 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-44 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-44 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-45 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-45 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-45 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-46 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-46 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-46 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-47 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-47 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-47 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-48 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-48 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-48 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-49 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-49 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-49 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-50 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-50 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-50 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-51 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-51 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-51 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-52 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-52 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-52 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-53 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-53 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-53 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-54 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-54 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-54 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-55 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-55 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-55 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-56 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-56 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-56 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-57 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-57 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-57 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-58 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-58 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-58 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-59 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-59 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-59 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-60 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-60 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-60 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-61 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-61 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-61 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-62 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-62 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-62 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-63 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-63 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-63 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-64 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-64 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-64 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-65 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-65 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-65 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-66 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-66 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-66 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-67 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-67 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-67 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-68 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-68 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-68 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-69 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-69 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-69 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-70 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-70 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-70 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-71 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-71 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-71 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-72 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-72 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-72 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-73 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-73 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-73 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-74 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-74 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-74 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-75 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-75 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-75 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-76 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-76 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-76 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-77 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-77 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-77 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-78 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-78 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-78 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-79 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-79 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-79 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-80 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-80 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-80 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-81 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-81 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-81 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-82 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-82 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-82 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-83 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-83 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-83 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-84 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-84 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-84 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-85 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-85 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-85 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-86 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-86 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-86 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-87 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-87 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-87 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-88 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-88 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-88 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-89 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-89 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-89 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-90 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-90 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-90 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-91 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-91 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-91 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-92 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-92 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-92 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-93 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-93 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-93 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-94 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-94 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-94 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-95 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-95 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-95 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-96 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-96 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-96 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-97 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-97 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-97 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-98 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-98 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-98 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-99 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-99 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-99 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.group-100 .top {
    border-bottom-color: #ff26a5; }
  .hexagon.team-1.group-100 .middle {
    background: #ff26a5; }
  .hexagon.team-1.group-100 .bottom {
    border-top-color: #ff26a5; }
  .hexagon.team-1.hovered-section .top {
    border-bottom-color: #fff44d; }
  .hexagon.team-1.hovered-section .middle {
    background: #fff44d; }
  .hexagon.team-1.hovered-section .bottom {
    border-top-color: #fff44d; }
  .hexagon.team-1.clicked-section .top {
    border-bottom-color: #59ff50; }
  .hexagon.team-1.clicked-section .middle {
    background: #59ff50; }
  .hexagon.team-1.clicked-section .bottom {
    border-top-color: #59ff50; }
  .hexagon.team-2.group-1 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-1 .middle {
    background: #496dff; }
  .hexagon.team-2.group-1 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-2 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-2 .middle {
    background: #496dff; }
  .hexagon.team-2.group-2 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-3 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-3 .middle {
    background: #496dff; }
  .hexagon.team-2.group-3 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-4 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-4 .middle {
    background: #496dff; }
  .hexagon.team-2.group-4 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-5 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-5 .middle {
    background: #496dff; }
  .hexagon.team-2.group-5 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-6 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-6 .middle {
    background: #496dff; }
  .hexagon.team-2.group-6 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-7 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-7 .middle {
    background: #496dff; }
  .hexagon.team-2.group-7 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-8 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-8 .middle {
    background: #496dff; }
  .hexagon.team-2.group-8 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-9 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-9 .middle {
    background: #496dff; }
  .hexagon.team-2.group-9 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-10 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-10 .middle {
    background: #496dff; }
  .hexagon.team-2.group-10 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-11 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-11 .middle {
    background: #496dff; }
  .hexagon.team-2.group-11 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-12 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-12 .middle {
    background: #496dff; }
  .hexagon.team-2.group-12 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-13 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-13 .middle {
    background: #496dff; }
  .hexagon.team-2.group-13 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-14 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-14 .middle {
    background: #496dff; }
  .hexagon.team-2.group-14 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-15 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-15 .middle {
    background: #496dff; }
  .hexagon.team-2.group-15 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-16 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-16 .middle {
    background: #496dff; }
  .hexagon.team-2.group-16 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-17 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-17 .middle {
    background: #496dff; }
  .hexagon.team-2.group-17 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-18 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-18 .middle {
    background: #496dff; }
  .hexagon.team-2.group-18 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-19 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-19 .middle {
    background: #496dff; }
  .hexagon.team-2.group-19 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-20 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-20 .middle {
    background: #496dff; }
  .hexagon.team-2.group-20 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-21 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-21 .middle {
    background: #496dff; }
  .hexagon.team-2.group-21 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-22 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-22 .middle {
    background: #496dff; }
  .hexagon.team-2.group-22 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-23 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-23 .middle {
    background: #496dff; }
  .hexagon.team-2.group-23 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-24 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-24 .middle {
    background: #496dff; }
  .hexagon.team-2.group-24 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-25 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-25 .middle {
    background: #496dff; }
  .hexagon.team-2.group-25 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-26 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-26 .middle {
    background: #496dff; }
  .hexagon.team-2.group-26 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-27 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-27 .middle {
    background: #496dff; }
  .hexagon.team-2.group-27 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-28 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-28 .middle {
    background: #496dff; }
  .hexagon.team-2.group-28 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-29 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-29 .middle {
    background: #496dff; }
  .hexagon.team-2.group-29 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-30 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-30 .middle {
    background: #496dff; }
  .hexagon.team-2.group-30 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-31 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-31 .middle {
    background: #496dff; }
  .hexagon.team-2.group-31 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-32 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-32 .middle {
    background: #496dff; }
  .hexagon.team-2.group-32 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-33 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-33 .middle {
    background: #496dff; }
  .hexagon.team-2.group-33 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-34 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-34 .middle {
    background: #496dff; }
  .hexagon.team-2.group-34 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-35 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-35 .middle {
    background: #496dff; }
  .hexagon.team-2.group-35 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-36 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-36 .middle {
    background: #496dff; }
  .hexagon.team-2.group-36 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-37 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-37 .middle {
    background: #496dff; }
  .hexagon.team-2.group-37 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-38 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-38 .middle {
    background: #496dff; }
  .hexagon.team-2.group-38 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-39 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-39 .middle {
    background: #496dff; }
  .hexagon.team-2.group-39 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-40 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-40 .middle {
    background: #496dff; }
  .hexagon.team-2.group-40 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-41 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-41 .middle {
    background: #496dff; }
  .hexagon.team-2.group-41 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-42 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-42 .middle {
    background: #496dff; }
  .hexagon.team-2.group-42 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-43 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-43 .middle {
    background: #496dff; }
  .hexagon.team-2.group-43 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-44 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-44 .middle {
    background: #496dff; }
  .hexagon.team-2.group-44 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-45 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-45 .middle {
    background: #496dff; }
  .hexagon.team-2.group-45 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-46 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-46 .middle {
    background: #496dff; }
  .hexagon.team-2.group-46 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-47 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-47 .middle {
    background: #496dff; }
  .hexagon.team-2.group-47 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-48 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-48 .middle {
    background: #496dff; }
  .hexagon.team-2.group-48 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-49 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-49 .middle {
    background: #496dff; }
  .hexagon.team-2.group-49 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-50 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-50 .middle {
    background: #496dff; }
  .hexagon.team-2.group-50 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-51 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-51 .middle {
    background: #496dff; }
  .hexagon.team-2.group-51 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-52 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-52 .middle {
    background: #496dff; }
  .hexagon.team-2.group-52 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-53 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-53 .middle {
    background: #496dff; }
  .hexagon.team-2.group-53 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-54 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-54 .middle {
    background: #496dff; }
  .hexagon.team-2.group-54 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-55 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-55 .middle {
    background: #496dff; }
  .hexagon.team-2.group-55 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-56 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-56 .middle {
    background: #496dff; }
  .hexagon.team-2.group-56 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-57 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-57 .middle {
    background: #496dff; }
  .hexagon.team-2.group-57 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-58 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-58 .middle {
    background: #496dff; }
  .hexagon.team-2.group-58 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-59 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-59 .middle {
    background: #496dff; }
  .hexagon.team-2.group-59 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-60 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-60 .middle {
    background: #496dff; }
  .hexagon.team-2.group-60 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-61 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-61 .middle {
    background: #496dff; }
  .hexagon.team-2.group-61 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-62 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-62 .middle {
    background: #496dff; }
  .hexagon.team-2.group-62 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-63 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-63 .middle {
    background: #496dff; }
  .hexagon.team-2.group-63 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-64 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-64 .middle {
    background: #496dff; }
  .hexagon.team-2.group-64 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-65 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-65 .middle {
    background: #496dff; }
  .hexagon.team-2.group-65 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-66 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-66 .middle {
    background: #496dff; }
  .hexagon.team-2.group-66 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-67 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-67 .middle {
    background: #496dff; }
  .hexagon.team-2.group-67 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-68 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-68 .middle {
    background: #496dff; }
  .hexagon.team-2.group-68 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-69 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-69 .middle {
    background: #496dff; }
  .hexagon.team-2.group-69 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-70 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-70 .middle {
    background: #496dff; }
  .hexagon.team-2.group-70 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-71 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-71 .middle {
    background: #496dff; }
  .hexagon.team-2.group-71 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-72 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-72 .middle {
    background: #496dff; }
  .hexagon.team-2.group-72 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-73 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-73 .middle {
    background: #496dff; }
  .hexagon.team-2.group-73 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-74 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-74 .middle {
    background: #496dff; }
  .hexagon.team-2.group-74 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-75 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-75 .middle {
    background: #496dff; }
  .hexagon.team-2.group-75 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-76 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-76 .middle {
    background: #496dff; }
  .hexagon.team-2.group-76 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-77 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-77 .middle {
    background: #496dff; }
  .hexagon.team-2.group-77 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-78 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-78 .middle {
    background: #496dff; }
  .hexagon.team-2.group-78 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-79 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-79 .middle {
    background: #496dff; }
  .hexagon.team-2.group-79 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-80 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-80 .middle {
    background: #496dff; }
  .hexagon.team-2.group-80 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-81 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-81 .middle {
    background: #496dff; }
  .hexagon.team-2.group-81 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-82 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-82 .middle {
    background: #496dff; }
  .hexagon.team-2.group-82 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-83 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-83 .middle {
    background: #496dff; }
  .hexagon.team-2.group-83 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-84 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-84 .middle {
    background: #496dff; }
  .hexagon.team-2.group-84 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-85 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-85 .middle {
    background: #496dff; }
  .hexagon.team-2.group-85 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-86 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-86 .middle {
    background: #496dff; }
  .hexagon.team-2.group-86 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-87 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-87 .middle {
    background: #496dff; }
  .hexagon.team-2.group-87 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-88 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-88 .middle {
    background: #496dff; }
  .hexagon.team-2.group-88 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-89 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-89 .middle {
    background: #496dff; }
  .hexagon.team-2.group-89 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-90 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-90 .middle {
    background: #496dff; }
  .hexagon.team-2.group-90 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-91 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-91 .middle {
    background: #496dff; }
  .hexagon.team-2.group-91 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-92 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-92 .middle {
    background: #496dff; }
  .hexagon.team-2.group-92 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-93 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-93 .middle {
    background: #496dff; }
  .hexagon.team-2.group-93 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-94 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-94 .middle {
    background: #496dff; }
  .hexagon.team-2.group-94 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-95 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-95 .middle {
    background: #496dff; }
  .hexagon.team-2.group-95 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-96 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-96 .middle {
    background: #496dff; }
  .hexagon.team-2.group-96 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-97 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-97 .middle {
    background: #496dff; }
  .hexagon.team-2.group-97 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-98 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-98 .middle {
    background: #496dff; }
  .hexagon.team-2.group-98 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-99 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-99 .middle {
    background: #496dff; }
  .hexagon.team-2.group-99 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.group-100 .top {
    border-bottom-color: #496dff; }
  .hexagon.team-2.group-100 .middle {
    background: #496dff; }
  .hexagon.team-2.group-100 .bottom {
    border-top-color: #496dff; }
  .hexagon.team-2.hovered-section .top {
    border-bottom-color: #fff44d; }
  .hexagon.team-2.hovered-section .middle {
    background: #fff44d; }
  .hexagon.team-2.hovered-section .bottom {
    border-top-color: #fff44d; }
  .hexagon.team-2.clicked-section .top {
    border-bottom-color: #59ff50; }
  .hexagon.team-2.clicked-section .middle {
    background: #59ff50; }
  .hexagon.team-2.clicked-section .bottom {
    border-top-color: #59ff50; }

.hexagon .top {
  width: 0;
  border-bottom: 15.002px solid #ececec;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent; }

.hexagon .middle {
  width: 52px;
  height: 30.004px;
  background: #ececec; }

.hexagon .bottom {
  width: 0;
  border-top: 15.002px solid #ececec;
  border-left: 26px solid transparent;
  border-right: 26px solid transparent; }

.hexagon-row.even {
  margin-left: 27px; }

.hexagon-row {
  clear: left; }
  .hexagon-row.team-1 .hexagon {
    background-color: #496dff; }
    .hexagon-row.team-1 .hexagon:before {
      border-bottom-color: #496dff; }
    .hexagon-row.team-1 .hexagon:after {
      border-top-color: #496dff; }
  .hexagon-row.team-2 .hexagon {
    background-color: blue; }
    .hexagon-row.team-2 .hexagon:before {
      border-bottom-color: blue; }
    .hexagon-row.team-2 .hexagon:after {
      border-top-color: blue; }

/*# sourceMappingURL=App.css.map */
