$team1-color: #ff26a5;
$team2-color: #496dff;
$no-team-color: #ececec;
$hovered-color: #fff44d;
$clicked-color: #59ff50;

$hexagon-size: 26px;

.hexagon {
  float: left;
  margin-left: 3px;
  margin-bottom: -($hexagon-size/2);
  position: relative;

  .children {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 20px;
    text-align: center;
    padding: 5px;
    background: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    font-family: Lato;

    &:empty {
      background: transparent;
    }
  }

  &.team-1 {
    @for $i from 1 through 100 {
      &.group-#{$i} {
        $percentage: 1*$i;
        $modified-team1-color: $team1-color;
        //@if $i < 30 {
        //  $modified-team1-color: darken($team1-color, $percentage);
        //
        //}@else{
        //  $modified-team1-color: lighten($team1-color, $percentage);
        //}
        .top {
          border-bottom-color: $modified-team1-color;
        }

        .middle {
          background: $modified-team1-color;
        }

        .bottom {
          border-top-color: $modified-team1-color;
        }
      }
    }

    &.hovered-section {

      .top {
        border-bottom-color: $hovered-color;
      }

      .middle {
        background: $hovered-color;
      }

      .bottom {
        border-top-color: $hovered-color;
      }
    }

    &.clicked-section {
      .top {
        border-bottom-color: $clicked-color;
      }

      .middle {
        background: $clicked-color;
      }

      .bottom {
        border-top-color: $clicked-color;
      }
    }
  }

  &.team-2 {

    @for $i from 1 through 100 {
      &.group-#{$i} {
        $percentage: 1.5*$i;
        $modified-team2-color: $team2-color;
        //@if $i < 30{
        //  $modified-team2-color: darken($team2-color, $percentage);
        //
        //}@else{
        //  $modified-team2-color: lighten($team2-color, $percentage);
        //}
        .top {
          border-bottom-color: $modified-team2-color;
        }

        .middle {
          background: $modified-team2-color;
        }

        .bottom {
          border-top-color: $modified-team2-color;
        }
      }
    }

    &.hovered-section {

      .top {
        border-bottom-color: $hovered-color;
      }

      .middle {
        background: $hovered-color;
      }

      .bottom {
        border-top-color: $hovered-color;
      }
    }

    &.clicked-section {
      .top {
        border-bottom-color: $clicked-color;
      }

      .middle {
        background: $clicked-color;
      }

      .bottom {
        border-top-color: $clicked-color;
      }
    }
  }

  &.team-2 {

  }
}

.hexagon .top {
  width: 0;
  border-bottom: $hexagon-size*0.577 solid $no-team-color;
  border-left: $hexagon-size solid transparent;
  border-right: $hexagon-size solid transparent;
}

.hexagon .middle {
  width: $hexagon-size*2;
  height: $hexagon-size + ($hexagon-size*0.154);
  background: $no-team-color;
}

.hexagon .bottom {
  width: 0;
  border-top: $hexagon-size*0.577 solid $no-team-color;
  border-left: $hexagon-size solid transparent;
  border-right: $hexagon-size solid transparent;
}

.hexagon-row.even {
  margin-left: $hexagon-size + 1;
}

.hexagon-row {
  clear: left;

  &.team-1 .hexagon {
    background-color: $team2-color;

    &:before {
      border-bottom-color: $team2-color;
    }
    &:after {
      border-top-color: $team2-color;
    }

  }
  &.team-2 .hexagon {
    background-color: blue;

    &:before {
      border-bottom-color: blue;
    }
    &:after {
      border-top-color: blue;
    }
  }
}

.cont{
  padding: 40px;
  text-align: center;
  #pass-turn{
    padding: 20px;
    font-size: 14px;
    font-weight: bold;
    background: #ccc;
  }
}


.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}